body {
    font-family: Arial, sans-serif;
    background-color: #f5f3dc;
}

.navbar {
    border-bottom: 5px solid #ddd;
    background-color: #525B76;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.logo-text {
    color: white;
    font-weight: bold;
}

.search-bar input {
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-top: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 0;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform .2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}

.account-button, .card-button, #add-to-cart {
    background-color: #18c7a4;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.account-button:hover, .card-button:hover, #add-to-cart:hover {
    background-color: #17d4ae;
}

.dropdown-toggle::after {
    display: none;
}

.nav-button img {
    width: 50px;
    height: 50px;
}

.product-card img, #product-image-container img, .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: white;
    padding: 10px;
}

.product-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: 100%;
    max-width: 1400px;
    margin: 60px auto;
    padding: 0 40px;
}

.product-image-box {
    background: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    place-items: center;
    min-height: 550px;
}

#product-image-container img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-info-box {
    background: white;
    border-radius: 10px;
    padding: 40px;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    row-gap: 20px;
    min-height: 550px;
}

@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
